<% include ../layout %>

<div class="panel panel-info">
  <div style="float: right; padding-top: 4px; padding-right: 15px;">
  <% if (typeof user != "undefined") { %>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  <% } %>
    <a href="/" class="btn btn-default btn-sm">Back To Home</a>
  </div>
  <div class="clear"></div>
  <div class="panel-heading">
    <h3 class="panel-title"><%=title %></h3>
  </div>
  
  <div class="panel-body">
    <div class="container">

     <!-- show any messages that come back with authentication -->
    <% if (typeof message != "undefined" && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
	
	
	
    
	
    <div class="row">
      <div class="col-sm-12" data-ng-app="appointmentConfirmationModule"  data-ng-controller="appointmentConfirmationController">
        <p>Thank you for scheduling an appointment with Angel's Auto Repair Shop. Your appointment details are below.</p><br />
        
	    <div class="alert alert-success" ng-show="message" ng-cloak>{{message}}</div>
	    <div class="alert alert-danger" ng-show="error" ng-cloak>{{error}}</div>
		<flash-message duration="5000"></flash-message>
		<div class="well">

          <p><strong>Name: </strong><%= appointment[0].first_name %> <%= appointment[0].last_name %></p>
          <p><strong>Email: </strong><%= appointment[0].email %></p>
          <p><strong>Phone: </strong><%= appointment[0].phone_number %></p>
          <p><strong>Vehicle: </strong><%= appointment[0].year %> <%= appointment[0].make %> <%= appointment[0].model %></p>
          <p><strong>Date: </strong><%= moment(appointment[0].date).format('LL') %></p>
          <p><strong>Time: </strong><%= moment(appointment[0].time, 'LT').format('LT') %></p>

          <br />

          <p><strong>Requested Services:</strong></p>
          <ul>
			<% appointment.forEach(function(service) { %>
		        <li><%= service.service_name %></li>
		    <% }); %>
          </ul>
		  
		  <br />
			  <button class="btn btn-default" ng-click="cancelAppointment(<%= appointment_id %>)"><center>Cancel Appointment</center></button>
        </div>
      </div>
    </div>

  </div>
 </div>
</div><!-- end of appointment details-->

<link rel="stylesheet" href="../../bower_components/angular-flash-alert/dist/angular-flash.min.css" type="text/css" media="screen">

<script src="../../bower_components/angular/angular.min.js"></script>
<script src="../../bower_components/angular-flash-alert/dist/angular-flash.min.js" type="text/javascript" charset="utf-8"></script>

<script src="../../javascripts/app/appointment/appointmentConfirmationModule.js"></script>
<script src="../../javascripts/app/appointment/appointmentConfirmationService.js"></script>
<script src="../../javascripts/app/appointment/appointmentConfirmationController.js"></script>