<% include ../layout %>

<div class="panel panel-info">
  <div style="float: right; padding-top: 4px; padding-right: 15px;">
    <% if (user) { %>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    <% } %>
    <a href="/appointment/index" class="btn btn-default btn-sm">Back To Appointment</a>
  </div>
  <div class="clear"></div>
  <div class="panel-heading">
    <h3 class="panel-title"><%=title %></h3>
  </div>
  

  <div class="panel-body">
      
      
      <div class="container"
         data-ng-cloak
         data-ng-app="appointmentModule"
         data-ng-controller="appointmentController">
          <!-- show any messages that come back with authentication -->
        <% if (typeof message != "undefined" && message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <div class="alert alert-success" ng-show="message" ng-cloak>{{message}}</div>
        <div class="alert alert-danger" ng-show="error" ng-cloak>{{error}}</div>

      <form class="navbar-form navbar-left" role="search"
            method="POST"
            name="formAppointment">

        <div class="row">
          <div class="form-group">
            <label for="first_name">First Name</label>
            &nbsp;&nbsp;

            <input ng-readonly="user" type="text"
                   class="form-control"
                   value= "<%= user ? user.first_name : '' %>"
                   name="first_name"
                   id="first_name"
                   ng-model="appointment.first_name"
                   style="width:100%"
                   required />
          </div>
        </div>
        
        <div class="row">
          <div class="form-group">
            <label for="last_name">Last Name</label>
            &nbsp;&nbsp;

            <input ng-readonly="user" type="text"
                   class="form-control"
                   value= "<%= user ? user.last_name : '' %>"
                   name="last_name"
                   id="last_name"
                   ng-model="appointment.last_name"
                   style="width:100%"
                   required />
          </div>
        </div>
        
        <div class="row">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" 
            class="form-control"
                      name="email"
                      id="email"
                      value= "<%= user ? user.email : '' %>"
                      ng-model="appointment.email"
                      style="width:100%"
                      required></input>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="phone" 
            class="form-control"
                      name="phone"
                      id="phone"
                      value= "<%= user ? user.phone : '' %>"
                      ng-model="appointment.phone"
                      style="width:100%"
                      required></input>
          </div>
        </div>
        

        <div>&nbsp;</div>

        <div class="row">
          <div class="form-group" style="padding-left40%">
            <button type="button" class="btn btn-primary"
                    ng-click="createAppointment(appointment)">
              Schedule
            </button>
          </div>
        </div>

      </form>

      </div>

      <% include calendarGrid %>  

    </div>
  </div>
<script src="../../bower_components/angular/angular.min.js"></script>
<script src="../../javascripts/app/appointment/appointmentModule.js"></script>
<script src="../../javascripts/app/appointment/appointmentService.js"></script>
<script src="../../javascripts/app/appointment/appointmentController.js"></script>

